html {
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body, html {
  margin: 0; padding: 0;
  height: 300vh;
  background: #000000;
  color: #eee;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  overflow-x: hidden;
  overscroll-behavior: smooth;
}

#app {
  position: fixed;
  top: 0; left: 0;
  width: 100vw; height: 100vh;
  pointer-events: none;
  z-index: 0;
  opacity: 1;
  transition: opacity 0.8s ease;
  will-change: opacity, transform;
  backface-visibility: hidden;
  background: #000000;
}

main.content {
  position: relative;
  max-width: 900px;
  margin: 0 auto;
  padding: 30vh 20px 40px;
  z-index: 1;
  user-select: text;
  text-align: center;
  will-change: transform;
}

h1 {
  font-weight: 300;
  font-size: 3rem;
  margin-bottom: 0.5rem;
}

p {
  font-size: 1.2rem;
  line-height: 1.5;
  max-width: 600px;
  margin: 0 auto 3rem auto;
}



html {
  scroll-behavior: smooth;
}

.card_ctn {
height: 500px;
width: 100%;
display: flex;
align-items: center;
justify-content: center;
gap: 20px;
}

.card {
  width: 250px;
  height: 350px;
}

#card1 {
   background-color: red;

}

#card2 {
   background-color: yellow;
}

#card3 {
   background-color: green;
}

.pic{
  width: 100%;
  height: 80%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top; 
  background-color: white;
}
#pic1 {
  background-image: url(https://i.pinimg.com/736x/02/27/20/0227206a3424a408dd464dcd792df62d.jpg);
}

#pic2 {
  background-image: url(https://i.pinimg.com/736x/d5/df/72/d5df7294df6ea110744b2dc94216ae8b.jpg);
}

#pic3 {
 background-image: url(https://i.pinimg.com/1200x/08/88/c2/0888c2233ebefd8beacc55e715768c22.jpg);
}


.card_txt {
  width: 100%;
  height: 20%;
  background-color: purple;
  display: flex;
  align-items: center;
  justify-content: center;

}
